@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap');

.page {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #2D2D2D;
  &__container {
    max-width: 1280px;
    min-width: 375px;
    margin: 0 auto;
  }

  &__top-bar {
    margin-top: 24.5px;
    margin-bottom: 25.5px;
    margin-left: 44.28px;
    margin-right: 57.55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.wrapper-top {
}
.top-bar {

  &__logo {
  }

  &__link {
  }
}
.text-logo {
}
.main-menu {

  &__link {
  }

  &__link--one {
  }

  &__link--two {
  }

  &__link--three {
  }
}
.wrapper-content {
}
.header {
}
.welcome {

  &__text {
  }

  &__subtitle {
  }

  &__title {
  }

  &__description {
  }

  &__image {
  }

  &__main-photo {
  }
}
.subtitle {
}
.title {
}
.description {
}
.main-photo {
}
.main {
}
.companies-clients {

  &__title {
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }

  &__logo {
  }
}
.visually-hidden {
}
.margin-top-zero {
}
.skills {

  &__title {
  }

  &__row {
  }

  &__column {
  }

  &__column--center {
  }
}
.skills-card {

  &__image {
  }

  &__title {
  }

  &__description {
  }
}
.gallery {

  &__title {
  }

  &__list {
  }

  &__item {
  }
}
.gallery-card {

  &__link {
  }

  &__image {
  }

  &__title {
  }

  &__subtitle {
  }
}
.personal-clients {

  &__title {
  }

  &__list {
  }

  &__item {
  }
}
.client-card {

  &__text {
  }

  &__about {
  }

  &__logo {
  }

  &__score {
  }

  &__info {
  }
}
.footer {

  &__row {
  }

  &__column {
  }
}
.about-us {

  &__title {
  }

  &__subtitle {
  }
}
.social-networks {

  &__list {
  }

  &__item {
  }

  &__link {
  }

  &__image {
  }
}
.contact-title {
}
.contact-form {

  &__container {
  }

  &__input {
  }

  &__container--description {
  }

  &__textarea {
  }

  &__submit {
  }
}
